[tool.autopep8]
max_line_length = 120
ignore = "E501,W6"  # or ["E501", "W6"]
in-place = true
recursive = true
aggressive = 3

[project]
name = "ensta"
requires-python = ">=3.10"

[project.optional-dependencies]
dev = [
	"pytest",
]