name: Python tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            python-version: 3.10
          - os: ubuntu-latest
            python-version: 3.11
          - os: ubuntu-latest
            python-version: 3.12
          - os: ubuntu-latest
            python-version: 3.14
          - os: windows-latest
            python-version: 3.11
          - os: windows-latest
            python-version: 3.14
          - os: macos-latest
            python-version: 3.11
          - os: macos-latest
            python-version: 3.14

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            %USERPROFILE%\\AppData\\Local\\pip\\Cache
            $HOME/Library/Caches/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/Pipfile','**/pyproject.toml','**/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]

      - name: Run tests
        run: python -m pytest -q
